.my_name_info {
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 2px;
    padding: 40px 10%;
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
}

.project_div {
    background-color: aqua;
    min-height: 170px;
    max-width: 800px;
    margin: 30px auto;
    letter-spacing: 1px;
    padding: 15px;
    color: #bfbfbf;
    font-family: 'Abel', sans-serif;
    font-size: 18px;
    background-color: #2E2F32;
    border-radius: 17px;
    line-height: 1.5;
    box-shadow: 0px 0px 6px 4px rgba(27, 27, 27, 0.25);
    display: flex;
    align-items: center;
}

.project_div img {
    height: 160px;
}
.project_div .con h2{
    text-decoration: underline;
    font-weight: 600;
}

.project_div .con p {
    font-size: 16px;
}

.project_div .con button {
    border: none;
    background-color: #9b5ab6;
    border-radius: 5px;
    padding: 3px 8px;
    color: white;
    transition: all 0.3s ease;
}

.project_div .con button:hover {
    background-color: #9841bd;
}

@media screen and (max-width: 970px) {
    .project_div img {
    height: 100px;
}
.project_div .con h2{
    font-size: 20px;
}
.project_div .con h4{
    font-size: 18px;
}
.project_div .con p{
    font-size: 12px;
}
}



@media screen and (max-width: 890px) {
    .per_info p{
        min-width: 95vw;
        line-height: 1.4;
        font-size: 16px;
    }
    .my_name_info{
        padding: 35px 2%;
        font-size: 30px;
    }
    .per_info p span{
        font-size: 20px;
        /* font-weight: 500; */
    }
}
